<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<link type="text/css" rel="stylesheet" href="../static/wzc.css">	

		<style>body{background-image:url("../static/pkq.png");background-size: cover;}</style>
</head>

<body>
	<a id="#in"></a>
<table height="50" width="800" >
	<tr>
		<td colspan = "4"><h1>lucky's blog</h1></td>
	</tr>
	<tr>
		<td width="100"><div class = "flex-container"><a href="自我介绍.html#myA">自我介绍</a></div></td>
		<td width="104"><div class = "flex-container"><a href="家乡风俗.html#my">家乡风俗</a></div></td>
		<td width="100"><div class = "flex-container"><a href="家乡美食.html#Am">家乡美食</a></div></td>
		<td width="108"><div class = "flex-container"><a href="调查问卷.html#an">调查问卷</a></div></td>
  	</tr>
</table>
</body>
</html>
