<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>yyms</title>
	<style>p{text-indent: 20px}</style>
</head>

<body>
<img src="../static/ws.jpg" width="257" height="155" align="left">
<p>老深圳住民尤其是原宝安县住民春节期间，会举办各种民间舞蹈，主要有狮舞、麒麟舞、龙舞、鱼灯舞等，分布在各个乡镇。其中以狮舞、麒麟舞和龙舞较为普遍，也最具地方特色。狮舞和麒麟舞是以语属而分布的。粤语属的新安、福永、沙井、松岗、公明等地多兴狮舞；客语属的观澜、龙华、龙岗、横岗、坪山、坪地、石岩、葵涌等地则以麒麟舞为多。</p><p>
狮舞、麒麟舞寄托着带来吉祥如意，驱除妖魔邪恶的愿望。表演队伍庞大，配以大锣大鼓，又兼有刀、枪、剑、戟武术场面，声势浩大。每逢过年过节，喜庆吉日，醒狮、麒麟队穿村过户，或在空旷场地表演，或在村中逐家挨户相邀上门舞拜。狮舞在表演上分“文狮”和“武狮”两种。“文狮”主要表现狮子的温驯神态，有酣睡、舔毛、抖毛、搔痒、打滚等稳静动作；“武狮”表现狮子的勇猛性格，有跳跃、跌扑、走梅花桩、采青、踩球等高难动作，形神酷似、惟妙惟肖。</p><p>
龙舞分“布龙”和“火龙”两种。“布龙”流行于布吉、平湖、观澜、石岩、公明、龙华等镇。“布龙”身长4丈余，全身用布和铁丝制作而成，身腹设有持杖，一般由8人至12人持杖，表演龙的各种腾跃、翻滚、俯拜等舞蹈动作，活灵活现。这种龙舞，人们视为能带来吉祥佳兆，所以多在春节期间表演。“火龙”（又叫草龙）只流行于宝安东部南澳镇的渔民区。清末民国之初，由于地方上发生霍乱病，无法医治，不少渔民丧生，因迷信思想所致，认为冲撞了邪魔，要请龙王驱邪除魔。故用稻草制成龙形，长约4丈，分成十数节，每节有一持杖为表演者使用，龙眼置以发光电灯泡，龙身遍插香火。每年正月初二晚进行表演。火龙活动时，各家各户点燃炮竹、烟花，火龙凡经各户大门前则三大拜，然后往一开阔场地表演各种龙舞姿态及武术，火龙翩翩起舞、处处火树银花，十分热闹壮观。随着“巨龙”游动，乐队敲锣打鼓，穿街过巷。龙身舞动之时，上下闪闪发光，犹似一条火龙在翻腾动荡。舞草龙是南澳渔民极为喜爱的一种活动，舞龙者的豪气、观舞者的热烈，构成了一幅宏大、欢腾的画面。</p>

</body>
</html>
