<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>家乡风俗</title>
	<link type="text/css" rel="stylesheet" href="wzc.css">
</head>

<body>
	<a href="../index.html#in">返回首页</a>
<a id="#my"></a>	
<h1 align="center">深圳过年风俗</h1>	
	<img src="../static/fhgc.jpg" height="100" width="100%"/>
<table width="955" height="412" border="5px" bordercolor="#20B4D9" align="center">	
	<tr><td width="81"><a href="djl.html" target="wzc">大家乐</a></td>
		<td width="850" rowspan="4" ><iframe height="600" width="850" align="right" valign="baseline" src="djl.html" name="wzc"></iframe></td>
	</tr>
	<tr><td><a href="ghs.html" target="wzc">逛花市</a></td>
	</tr>
	<tr><td><a href="yyms.html" target="wzc">游艺民俗</a></td>
	</tr>
	<tr><td><a href="dpc.html" target="wzc">大盆菜</a></td>
	</tr>
	</table>








</body>
</html>
