<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>调查问卷</title>
	<link type="text/css" rel="stylesheet" href="wzc.css">
</head>

<body>
	<a href="../index.html#in">返回首页</a>
	<a id="an"></a>
	<form method="post" action="">
		
<table align="center" border="5px" bordercolor="#4ED439" width="700">
<tr><td align="center"><h2>调查问卷</h2></td></tr>
	<tr><td><table>
		<tr><td>1.您的岁数</td></tr>
		<tr><td>
			请你选择：
						<select>
							<option selected>请你选择</option>
							<option>0~17</option>
							<option>18~24</option>
							<option>25~30</option>
							<option>31~50</option>
							<option>51以上</option>
						</select>
     	
			</td></tr></table></td></tr>
	<tr><td><table>
				<tr>
					<td>2.对于本网站的设计</td>
				</tr>
				<tr>
					<td><input type="checkbox">满意</td>	
				</tr>
				<tr>
					<td><input type="checkbox">基本满意</td>
				</tr>
				<tr>
					<td> <input type="checkbox">不满意 您的建议：</td>
						<td> <input type="text" size="20"> </td>
				</tr>
				</table></td></tr>
	<tr><td><table><thead width="261">3.您对什么类型网站感兴趣（可多选）：
					</thead>
		<tbody width="40">
					<tr>
						<td><input type="checkbox">论坛</td>
					</tr>
					<tr>
						<td><input type="checkbox">新闻</td>
					</tr>
					<tr>
						<td><input type="checkbox">学习</td>
					</tr>
					<tr>
						<td><input type="checkbox">娱乐</td>
					</tr>
					<tr>
						<td><input type="checkbox">视频</td>
					</tr>
					<tr>
						<td><input type="checkbox">官网</td>
					</tr>
					<tr>
						<td><input  type="checkbox">其他</td>
						<td width="604"><input type="text"></td>
					</tr>
			</tbody>
					</table></td></tr>
	
	<tr><td><table>
		<tr>
			<td width="672">4.对本网站的建议</td>
		</tr>
		<tr>
			<td><textarea rows="6" cols="40" wrap="virtual"></textarea></td>
		</tr>
		</table></td></tr>
	
<tr><td><table><input type="submit"></table></td>
</tr>

</table>
</form>
</body>
</html>
